---
import Section from "@/components/Section.astro";
import { getInterests } from "@/utils/db/getInterests";
import { useTranslations } from "@/i18n/utils";

const { user, lang } = Astro.props;

const { isValid, data = {} } = await getInterests({
  user,
  languageCode: lang,
});
const interests = isValid ? data?.interests : [];

const hasInterests = interests.length > 0;

const t = useTranslations(lang);
---

{
  hasInterests && (
    <Section title={t("interests.title")}>
      <ul>
        {interests.map(({ name }) => {
          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>• {name}</h3>
                  </div>
                </header>
              </article>
            </li>
          );
        })}
      </ul>
    </Section>
  )
}

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  article h3 {
    font-weight: 400;
    color: #111;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
