---
export const prerender = true;

import Layout from "@/layouts/Layout.astro";

import Basic from "@/components/sections/Basic.vue";
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.vue";
import Awards from "@/components/sections/Awards.astro";
import Certificates from "@/components/sections/Certificates.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Publications from "@/components/sections/Publications.astro";
import Skills from "@/components/sections/Skills.astro";
import Languages from "@/components/sections/Languages.astro";
import Interests from "@/components/sections/Interests.astro";
import References from "@/components/sections/References.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";

// getStaticPaths function
export function getStaticPaths() {
  return [
    { params: { id: "bypabloc" } },
    { params: { id: "rover" } },
    { params: { id: "spot" } },
  ];
}

const { id } = Astro.params;
---

<Layout title="Portafolio">
  <main>
    <client:only fallback="Cargando...">
      <Basic queryParams={{}} client:load />
    </client:only>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Awards />
    <Certificates />
    <Publications />
    <Skills />
    <Languages />
    <Interests />
    <References />
  </main>
  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
