---
import { ViewTransitions } from "astro:transitions";
import { getLangFromUrl } from "@/i18n/utils";
import { getAttributes } from "@/utils/db/getAttributes";
import ToggleDarkMode from "@/components/ui/ToggleDarkMode/Index.vue";
import LanguagePicker from "@/components/ui/LanguagePicker/Index.astro";
import Meta from "@/components/Meta.astro";

interface Props {
  title: string;
  user: Record<string, any>;
  lang: string;
}

const { title, user } = Astro.props;
const lang = getLangFromUrl(Astro.url);

const attributesResult = await getAttributes(user, lang);
const attributes = attributesResult.isValid
  ? attributesResult.data?.attributes
  : {};

const {
  summary: { value: summary },
  url: { value: url },
} = attributes || {};

const frontmatter = {
  title,
  description: summary,
  user,
  attributes,
};
---

<!doctype html>
<html lang={lang}>
  <head>
    <Meta {...frontmatter} />
    <ViewTransitions />
  </head>
  <body>
    <main class="nyx-color2-bg-background-base">
      <div class="nyx-color2-text-primary-container">COLORS</div>
      <div
        class="d-flex flex-direction-row flex-justify-flex-end flex-items-center"
      >
        <LanguagePicker lang={lang} />
        <ToggleDarkMode lang={lang} client:only="vue" />
      </div>
      <slot />
    </main>
    <style is:global>
      html {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          "Courier New",
          Courier,
          monospace;
        background: #fff;
        letter-spacing: -0.025rem;
      }

      body,
      figure {
        margin: 0;
        padding: 0;
      }

      a {
        text-decoration: none;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      h1,
      h2,
      h3,
      h4 {
        margin: 0;
        font-family:
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          "Open Sans",
          "Helvetica Neue",
          sans-serif;
      }

      footer div h4 {
        font-weight: 700;
      }

      main {
        padding: 4rem 4rem 0 4rem;
      }

      p {
        font-size: 0.9rem;
        line-height: 1.5;
        margin: 0;
        text-wrap: pretty;
      }

      span {
        font-size: 0.9rem;
        line-height: 1.5;
        margin: 0;
        text-wrap: pretty;
      }

      .print {
        display: none !important;
      }

      @media print {
        .no-print {
          display: none !important;
        }

        .print {
          display: block !important;
        }

        astro-dev-toolbar {
          display: none !important;
        }

        article {
          break-inside: avoid;
        }
      }

      /* Para navegadores basados en Webkit (Chrome, Safari) */
      ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
      }

      ::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
      }

      ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
        border: 3px solid #f1f1f1;
      }

      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      /* Para Firefox */
      html {
        scrollbar-width: thin;
        scrollbar-color: #888 #f1f1f1;
      }

      body::-webkit-scrollbar {
        width: 12px;
        height: 12px;
      }

      body::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
      }

      body::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10px;
        border: 3px solid #f1f1f1;
      }

      body::-webkit-scrollbar-thumb:hover {
        background-color: #555;
      }
    </style>
  </body>
</html>
